a:hover,
.btn.btn-default:hover,
.btn.btn-primary:hover,
.video-link:hover,
.video-link:focus,
.section-info h2 span,
.service h3:hover,
.tr-about .right-contant h2,
.testimonial .title span,
.category a:hover,
.tr-post a:hover,
.price h3, .style-chooser-inner h4,
.slick-prev:hover:before,
.slick-next:hover:before,
.item span.color, .homepage-2 .tr-service .btn.btn-default:hover,
.homepage-2 .tr-contact-section a:hover,
.contact-content address a:hover,
.tr-page .post-content a:hover  {
	color: #8dc63f;
}



.btn.btn-primary,
.tr-details-page .category,
.category a,
.tr-menu li.current>a,
.tr-menu>li>a:focus, 
.tr-menu>li>a:hover,
.slide-menu li a,
.tr-menu li:hover,
.carousel-indicators .active,
.tr-list-menu>li.active>a, 
.tr-list-menu>li.active>a:focus,
.tr-list-menu>li.active>a:hover, 
.tr-list-menu>li a:hover,
.cbp-filter-item:hover,
.cbp-filter-item.cbp-filter-item-active {
    background-color: #8dc63f;	
}

.slide-menu li.active>a, 
.slide-menu li.active>a:focus, 
.slide-menu li.active>a:hover {
	background-color: #6eb907;
}



.btn.btn-primary,
.carousel-indicators li {
    border: 2px solid #8dc63f;
}

.tr-details-page .category,
.category a {
	border: 1px solid #8dc63f;
}	


.tr-homepage .form-control:focus {
	border: 5px solid #8dc63f;
}

.form-control:focus {
	border: 1px solid #8dc63f;
}

.portfolio-overlay,
.team-overlay,
.price.active {
	background-color: rgba(141, 198, 63, 0.8);
}

.footer-section {
	background-image: url(../../images/presets/preset4/footer-one.png); 
}

.tr-options input[type="text"] {
	background-color: #8dc63f;
}