a:hover,
.btn.btn-default:hover,
.btn.btn-primary:hover,
.video-link:hover,
.video-link:focus,
.section-info h2 span,
.service h3:hover,
.tr-about .right-contant h2,
.testimonial .title span,
.category a:hover,
.tr-post a:hover,
.price h3, .style-chooser-inner h4,
.slick-prev:hover:before,
.slick-next:hover:before,
.item span.color, .homepage-2 .tr-service .btn.btn-default:hover,
.homepage-2 .tr-contact-section a:hover,
.contact-content address a:hover,
.tr-page .post-content a:hover  {
	color: #0071bc;
}



.btn.btn-primary,
.tr-details-page .category,
.category a,
.tr-menu li.current>a,
.tr-menu>li>a:focus,
.tr-menu>li>a:hover,
.slide-menu li a,
.tr-menu li:hover,
.carousel-indicators .active,
.tr-list-menu>li.active>a,
.tr-list-menu>li.active>a:focus,
.tr-list-menu>li.active>a:hover,
.tr-list-menu>li a:hover,
.cbp-filter-item:hover,
.cbp-filter-item.cbp-filter-item-active {
	background-color: #00aeef;
}

.slide-menu li.active>a,
.slide-menu li.active>a:focus,
.slide-menu li.active>a:hover {
	background-color: #04a6e2;
}



.btn.btn-primary,
.carousel-indicators li {
	border: 2px solid #00aeef;
}

.tr-details-page .category,
.category a {
	border: 1px solid #00aeef;
}


.tr-homepage .form-control:focus {
	border: 5px solid #00aeef;
}

.form-control:focus {
	border: 1px solid #00aeef;
}


.portfolio-overlay,
.team-overlay,
.price.active {
	background-color: rgba(0, 174, 239, 0.8);
}

.footer-section {
	background-image: url(../../images/footer-one.png);
}

.tr-options input[type="text"] {
	background-color: #00aeef;
}
.navbar-custom {
	background: none;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-custom .navbar-brand {display: none;}
.navbar-custom.scrolled .navbar-brand {display: block;}
.navbar-custom a {color: white;}
.navbar-custom.scrolled a {color: #000;}
.navbar-fixed-top.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
}
.tr-logo {margin-bottom: 5px;}
